<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">LH Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent.fhan5-9.fna.fbcdn.net/v/t1.6435-9/85084053_572598926664203_7416211585821048832_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=e3f864&_nc_ohc=-KnFnAR-vokAX9J5jGt&_nc_oc=AQlhSxUrlM_VRiWZ0-L3J2B62EU2JSX9HSJhvXYgatpE8W3PXPJSxhL3UdXLvF4QbCQ_Zh5kpSV2rbteHQtIeY1R&_nc_ht=scontent.fhan5-9.fna&oh=00_AfA3JbmuqPmw_cd1lh8PLbiOepfL8iKfrbhJ6HvFe2x7Wg&oe=63F03EC3" alt="" class="user-avatar">
            HieuLe
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
    </div>
  </div>
</nav>